body {
    font-family: 'Cabin Sketch', cursive;
}

.container {
    align-items: center;
    margin: auto;
    width: 50%; 
}

h1 {
    text-align: center;
    font-size: 60px;  
}

#rules {
    font-size: 20px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto; 

}

.page-header {
    width: 75%; 
    margin-left: auto;
    margin-right: auto; 
}

.computer, .user{
    font-size: 25px; 
    text-align: center; 
    border: 1px solid black;
    height: 220px;
    width: 225px; 
    margin-top: 10px; 
    
}

button {
    margin-top: 0;
    
}

.image {
    height: 75px;
   
}

#images {
    margin-top: 10px;
    padding-right: 5px;  
    margin-right: 0;
}

.winlosebox {
    border: 1px solid black;
    height: 100px;
    width: 100px; 
    font-size: 15px; 
    margin-bottom: 1px; 
    text-align: center;
    margin-top: 10px;  
}

#computerScore, #userScore {
    padding-top: 50px; 
}

@media screen and (max-width: 1400px) {
    .container {
        margin: auto; 
        width: 100%; 
    }

    .user { 
        padding-right: 0; 
        padding-left: 5px; 
    }

    .winlosebox {
        height: 80px;
        width: 80px; 
        font-size: 15px;  
        margin-top: 10px; 
    }

    .computer, .user{
        font-size: 20px;
        height: 200px;
        width: 220px; 
        
    }

    .thisrow {
        width:50%; 
        margin: auto !important; 
    }
}

@media screen and (max-width: 1349px) {
    .container {
        margin: 0; 
        width: 100%; 
    }

    .computer, #images, .user {
        margin: 20px; 
    }
    .user {
        margin-left: 0;
    }

    .thisrow {
        width: 75%; 
        margin: 0, auto !important; 
    }

    .winlosebox { 
        margin-top: 20px; 
        margin-right: 0; 
    }
}

@media screen and (max-width: 1110px) {
    .thisrow {
        width: 80%; 
    }

}

@media screen and (max-width: 1040px) {
    .thisrow {
        width: 85%; 
    }

}

