body {
    font-family: 'Cabin Sketch', cursive;
}

.container {
    align-items: center;
    margin: auto;
    width: 50%; 
}

h1 {
    text-align: center;
    font-size: 60px;  
}

#rules {
    font-size: 20px; 
    text-align: center;
    position: relative; 
    width: 800px; 
    margin-left: auto;
    margin-right: auto; 

}

.computer, .user{
    font-size: 25px; 
    text-align: center; 
    border: 1px solid black;
    height: 220px;
    width: 225px; 
    margin-top: 10px; 
    float: left; 
}

button {
    margin-top: 0;
    
}

.image {
    height: 75px;
   
}

#images {
    margin-top: 10px; 
    padding: 20px; 
    float: left; 
}

.winlosebox {
    border: 1px solid black;
    height: 100px;
    width: 100px; 
    font-size: 15px; 
    margin-bottom: 1px; 
    text-align: center;
    margin-top: 10px;  
    float: left; 
}

#computerScore, #userScore {
    padding-top: 50px; 
}

@media screen and (max-width: 1300px) {
    .user, .winlosebox {
        position: relative;
        left: 20px; 
       
    }
    }